 <form action="/productos" method = "post">
        <hr>
        <label for="title">Producto:</label>
        <input type="text" id="title" name="title"><br>

        <label for="price">Precio:</label>
        <input type="text" id="price" name="price" ><br>

        <label for="description">Descripción:</label>
        <input type="text" id="description" name="description" ><br>

        <label for="code">Código:</label>
        <input type="text" id="code" name="code" ><br>

        <label for="stock">Stock:</label>
        <input type="text" id="stock" name="stock" ><br>

        <label for="status">Url de la imagen</label>
        <input type="text" id="thumbnail" name="thumbnail"><br>

        <label for="category">Categoría:</label>
        <input type="text" id="category" name="category" ><br>

        <button type="submit" value="Create">Agregar Producto</button>
        <hr>
    </form>