 <form class="container mt-4 " action="/productos" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Producto:</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Precio:</label>
        <input type="text" class="form-control" id="price" name="price">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descripción:</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
     <div class="mb-3">
        <label for="thumbnail" class="form-label">URL de la imagen:</label>
        <input type="text" class="form-control" id="thumbnail" name="thumbnail">
    </div>
    <div class="mb-3">
        <label for="code" class="form-label">Código:</label>
        <input type="text" class="form-control" id="code" name="code">
    </div>
    <div class="mb-3">
        <label for="stock" class="form-label">Stock: </label>
        <input type="text" class="form-control" id="stock" name="stock">
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Categoría: </label>
        <input type="text" class="form-control" id="category" name="category">
    </div>
    <div class="text-center">
        <button type="submit" value="Create" class="btn btn-primary">Agregar Producto</button>
    </div>
</form>
 
 
 
 {{!-- <form action="/productos" method = "post">
        <hr>
        <label for="title">Producto:</label>
        <input type="text" id="title" name="title"><br>

        <label for="price">Precio:</label>
        <input type="text" id="price" name="price" ><br>

        <label for="description">Descripción:</label>
        <input type="text" id="description" name="description" ><br>

        <label for="code">Código:</label>
        <input type="text" id="code" name="code" ><br>

        <label for="stock">Stock:</label>
        <input type="text" id="stock" name="stock" ><br>

        <label for="status">Url de la imagen</label>
        <input type="text" id="thumbnail" name="thumbnail"><br>

        <label for="category">Categoría:</label>
        <input type="text" id="category" name="category" ><br>

        <button type="submit" value="Create">Agregar Producto</button>
        <hr>
    </form> --}}