<div class="d-flex justify-content-center m-4">
    <div class="content"  style="width: 300px;">
         <div>
            <h2>Hola! , Bienvenido a nuestra tienda en línea</h2>
            <p>Descubre una experiencia única al ingresar a tu cuenta. ¡Tu aventura comienza aquí!</p>
        </div>
        <div class="d-flex  justify-content-center m-2">
            <button class="btn btn-primary m-2" id="goToRegister">Crear Cuenta</button>
            <button class="btn btn-success m-2" id="goToLogin" href="/">Ingresar</button>
        </div>
    </div> 
</div>
<script>
    document.querySelector("#goToRegister").onclick = () =>{
         url = "/login/registerView"
         document.location.href = url
    }
    document.querySelector("#goToLogin").onclick = () =>{
         url = "/"
         document.location.href = url
    }
</script>