
  <div class="container mt-4" style="width: 400px" > 
    <form id="authForm" method="post" action="/login/users">
      <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="user" name="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico.</div>
      </div>
      <div class="mb-3">
        <label for="Contraseña" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <button type="button" class="btn btn-secundary" onclick="setFormAction()">Register</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  {{!-- <h2>Login: </h2>
  <form id="authForm" method="post" action="/login/users">
    <span>Email: </span> <input type="email" id="user" name="email"><br>
    <span>Password: </span> <input type="password" id="password" name="password"><br>
    <button type="button" onclick="setFormAction()">Registrar</button>
    <button type="submit">Login</button>
  </form>
</div> --}}

<script>
  function setFormAction() {
    document.location.href = `/login/registerView`;
  }
</script>