<h1>Ingresa tus datos: </h1>
    <form action="/login/register" method="post">
    <input type="text" name="firest_name" id=""><br>
    <input type="text" name="last_name" id=""><br>
    <input type="number" name="age_name" id=""><br>
    <input type="email" name="email" id=""><br>
    <input type="password" name="password" id=""><br>
    <button type="submit">Registrar</button>
    </form>