<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Mi tienda</title>
</head>

<body>
    <h1>Tienda :</h1>

    <nav>
        {{!-- <li><a href="/">Listar Productos desde FyleSystem</a></li> --}}
        {{#if session.user}}
        <li><a href="/logout">Logout</a></li>
        <li><a href="/productos/nuevoProducto">Agregar Productos</a></li>
        {{else}}
        <li><a href="/">Login</a></li>
        {{/if}}
        <li><a href="/productos/ListarProductos">Listar Productos desde mongo</a></li>
        <li><a href="/productos/cart">Mostrar Carrito</a></li>
        <li><a href="/productos/chat">CHAT</a></li>
    </nav>
    {{{body}}}
</body>

</html>